<div class="container">  
  <div class="forms">
    <span>
      <h1>Responsável pelo projeto</h1> 
      <p class="nome">Ivan Vidal</p> 
    </span>
    <span>
     <h1>E-mail para contato</h1>
     <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new"><img src="../../../assets/img/icons8-gmail.svg" alt="gmail"></a>
      <br>
      ivanvalmeida.123@gmail.com    
    </span> <br>
    <span>
      <h1>LinkedIn</h1>
    <a href="https://www.linkedin.com/in/ivan-vidal-b7485a138/"> <img src="../../../assets/img/icons8-linkedin.svg" alt="LinkedIn"></a>
    </span>
    <span>
     <h1>GitHub</h1> 
    <a href="https://github.com/Ivan-Vidal"><img src="../../../assets/img/icons8-github.svg" alt="github"></a>
    </span>
    <span>
    <h1> Enviar mensagem WhatsApp </h1> 
         55+ (11) 9 ***11 
      
      
      <button class="whats">
        <a href="https://api.whatsapp.com/send?L=pt_BR&phone=5511968344811&text=Tenho interesse em seus serviços."> 
          Enviar mensagem
        </a>
      </button> 
    </span>
    
    
    
    
    
    
    
  </div>
</div>





