<div class="container">

    <div class="main">

        <h1 class="title">
            Sobre o Projeto Numbers.Order
        </h1>

        <h3 class="sub-title">Objetivo do projeto</h3>
        <p class="text">
            O projeto tem como objetivo um dashboard onde pode-se digitar numeros inteiros e verificar os mesmo em ordem crescente.
            


        </p>

        <h3  class="sub-title"> Solicitante do Projeto</h3>

        <p class="text">
            Foi feito o pedido do projeto pela empresa DigiStarts como teste para vaga de desenvolvedor Front-end Angular.
        </p>
    </div>

    <button class="voltar" (click)="back()"> Voltar </button>

</div>